html,
body {
  scroll-padding-top: 6px; /* height of sticky header */
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
}

/* buttons */
button :hover {
  color: #5bc0be;
}

/* nav-bar */
ul {
  background-color: #d9dad8;
  list-style-type: none;
  margin: 0;
  padding: 8px;
  overflow: hidden;
  position: fixed; /* ṇav-bar will remain fixed when scrolling */
  top: 0;
  width: 100%;
}
li {
  float: left;
  margin: 8px 0 0;
  padding: 6px;
}
li a {
  padding: 6px;
  display: block;
  color: cornflowerblue;
  text-decoration: none;
}
li a:hover {
  color: #5bc0be;
}
.nav-right {
  float: right;
  margin-right: 14px;
}
#homepage {
  text-transform: uppercase;
  margin-left: 3%;
}

/* Section1 */
.homepage {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/images/pexels-christina-morillo-1181263.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.homepage-child {
  text-align: center;
  position: absolute;
  font-size: xx-large;
  color: #fff;
}
.homepage-child p {
  margin-top: 0;
}

/* section2 */
#aboutus {
  height: 100vh;
  display: flex;
  color: #000000;
}
#aboutus h5 {
  margin: 0;
  padding: 0;
  border: 0;
}
footer {
  position: sticky;
  text-align: center;
  background-color: cornflowerblue;
  padding: 12px;
}
